<template>
	<div id="main-article">
		<div class="navigator">
			<router-link class="text-deco" to="/">All categories</router-link>
			<span class="icon fa fa-sm fa-chevron-right"/>
			<span>{{ getCategory.title }}</span>
		</div>
		<div id="article-content">
			<div class="preview-card">
				<span :class="'icon fa fa-3x fa-' + getCategory.icon"/>
				<h3>{{ getCategory.title }}
				<br/><span class="last-update">Updated {{ moment(getCategory.updatedOn).startOf('day').fromNow() }}<br/><br/><hr/></span>
				</h3>
				<h5><span class="icon-info fa fa-2x fa-info-circle"/><br/>{{ getCategory.description }}</h5>
			</div>
			<div>
				<tawk-card
					v-for="article in getArticles"
					:article="article"
					:key="article.id"
					/>
			</div>
		</div>
	</div>
</template>

<script>
import Card from '../components/ArticleCard.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
	components: {
	'tawk-card': Card
	},
	methods: {
		...mapActions(['fetchArticles'])
	},
	computed: {
		...mapGetters(['getCategory', 'getArticles'])
	},
	created () {
		this.fetchArticles();
	}
}
</script>

<style lang="scss" scoped>
	@import '../scss/_variables.scss';
	#main-article {
		font-family: $font-family;
		background-color: #fafafa;
		padding: 5px;
		width: auto;

		.text-deco {
			text-decoration:none;
			color: #03a84e;
		}

		.navigator {
		 margin-left: 10%;

		 span {
		 	color: #b0b0b0;
			margin: 0px 10px 0px 10px;
		 }
		}
	}
	#article-content {
		display: grid;
		grid-template-columns: 1.5fr 3fr;
		column-gap: 10%;
		padding: 3% 10% 5% 10%;

		.preview-card {
			text-align: center;
			color: $text-black;
			padding: 15px;
			width: auto;
			height: auto;
			max-height: 40%;
			border: solid 0.04em #eee;
			border-radius: .3em;
			background-color: #fff;

			.icon {
				color: #03a84e;
			}

			.icon-info {
				color: #03a84e;
				padding-bottom: 10px;
			}

			.last-update {
				font-size: 12px;
				color: #b0b0b0;
			}

			h5 {
				color: #b0b0b0;
				padding: 5%;
			}
		}
	}
</style>
