<template>
	<div id="main-dashboard">
		<div id="content">
			<tawk-card
				v-for="category in getCategories"
				:key="category.id"
    		:category="category"
				/>
		</div>
	</div>
</template>

<script>
import Card from '../components/CategoryCard.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
	components: {
	'tawk-card': Card
	},
	methods: mapActions(["fetchCategories"]),
	computed: mapGetters(["getCategories"]),
	created () {
		this.fetchCategories();
	}
}
</script>

<style lang="scss" scoped>
	@import '../scss/_variables.scss';
	#main-dashboard {
		background-color: #fafafa;
		padding: 5px;
		width: auto;
	}
	#content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: .1%;
		padding: 5% 10% 5% 10%;
	}
	#search-bar {
		margin: 2%;
	}
	.search-input {
		font-size: 16px;
		line-height: 41px;
		width: 50%;
		border-top: solid 0.04em #eee;
		border-left: solid 0.04em #eee;
		border-bottom: solid 0.04em #eee;
		border-right: solid 0em #eee;
		border-top-left-radius: .3em;
		border-bottom-left-radius: .3em;
    padding: .5em .25em .5em 1.3em;
	}
	.search-button {
		margin-right: 1em;
		line-height: 41px;
		border-top: solid 0.04em #eee;
		border-right: solid 0.04em #eee;
		border-bottom: solid 0.04em #eee;
		border-top-right-radius: .3em;
		border-bottom-right-radius: .3em;
		padding: .5em 2em .5em 2em;
		background-color: #03a84e;
		color: #fff;
	}
</style>
