<template>
	<div id="header-wrapper">
		<div id="header-text">
			<h1>Knowledge base doesn't have to be boring</h1>
			<h3>Everything you need to manage your messaging</h3>
			<div id="search-bar">
			 <input class="search-input" type="text" placeholder="Search for answers" />
			 <span class="fa fa-search search-button"/>
			</div>
		</div>
		<router-view></router-view>

	</div>
</template>

<script>
import Dashboard from './Dashboard.vue';
export default {

	components:{
		'tawk-dashboard': Dashboard
	}
}
</script>

<style lang="scss" scoped>
	@import '../scss/_variables.scss';

	#header-text{
		text-align: center;
		font-family: $font-family;
		color: $text-black;
		padding: 20px;

		h1{
			font-style: normal;
			font-weight: bold;
			font-size: 34px;
			line-height: 41px;
		}

		h3{
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
		}
	}
	#search-bar {
		margin: 2%;
	}
	.search-input {
		font-size: 16px;
		line-height: 41px;
		width: 50%;
		border-top: solid 0.04em #eee;
		border-left: solid 0.04em #eee;
		border-bottom: solid 0.04em #eee;
		border-right: solid 0em #eee;
		border-top-left-radius: .3em;
		border-bottom-left-radius: .3em;
    padding: .5em .25em .5em 1.3em;
	}
	.search-button {
		margin-right: 1em;
		line-height: 41px;
		border-top: solid 0.04em #eee;
		border-right: solid 0.04em #eee;
		border-bottom: solid 0.04em #eee;
		border-top-right-radius: .3em;
		border-bottom-right-radius: .3em;
		padding: .5em 2em .5em 2em;
		background-color: #03a84e;
		color: #fff;
	}
</style>
