<template>
	<div v-if="article.status == 'published'" id="main-card">
		<div id="tawk-card">
			<span :class="'icon fa fa-2x fa-pull-left fa-' + article.icon"/>
			<span class="icon fa fa-2x fa-pull-right fa-chevron-right"/>
			<h3>{{ article.title }}<br/>
			<span class="last-update">Last update {{ moment(article.updatedOn).startOf('day').fromNow() }}</span>
			</h3>

		</div>
	</div>
</template>

<script>
export default {
	props: ['article']
}
</script>

<style lang="scss" scoped>
	@import '../scss/_variables.scss';

	#main-card {
		text-align: left;
		font-family: $font-family;
		color: $text-black;
		padding: 5px;
		width: auto;
		height: auto;
		text-decoration:none;
	}
	#tawk-card {
		border: solid 0.04em #eee;
		border-radius: .3em;
		background-color: #fff;
		padding: 1% 2% 1% 2%;

		h5 {
			color: #03a84e;
			padding:0px;
		}
	}
	.icon {
		color: #03a84e;
		padding-top: 4%;
	}
	.article {
		font-size: 14px;
		color: #03a84e;
	}
	.last-update {
		font-size: 12px;
		color: #b0b0b0;
	}

	#tawk-card:hover {
		border-color: #03a84e;
	}

</style>
