<template>
	<router-link :to="`/article/${ category.id }`" v-if="category.enabled" id="main-card">
		<div id="tawk-card" @click="setCategory(category)">
			<span :class="'icon fa fa-' + category.icon"/>
			<h3>{{ category.title }}</h3>
			<p class="article">{{ category.totalArticle }} articles
				<br/><span class="last-update">Last update {{ moment(category.updatedOn).startOf('day').fromNow() }}</span>
			</p>
		</div>
	</router-link>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
	props: ['category'],
	methods: mapActions(["setCategory"])
}

</script>

<style lang="scss" scoped>
	@import '../scss/_variables.scss';

	#main-card {
		text-align: center;
		font-family: $font-family;
		color: $text-black;
		padding: 5px;
		width: auto;
		height: auto;
		text-decoration:none;
	}
	#tawk-card {
		border: solid 0.04em #eee;
		border-radius: .3em;
		background-color: #fff;
		padding: 20px;

	}
	.icon {
		font-size: 50px;
		color: #03a84e;
	}
	.article {
		font-size: 14px;
		color: #03a84e;
	}
	.last-update {
		font-size: 12px;
		color: #b0b0b0;
	}

	#tawk-card:hover {
		border-color: #03a84e;
	}

</style>
