<template>
	<div>
		<tawk-header></tawk-header>
	</div>
</template>

<script>
import Header from './views/Header.vue'

export default {
	components:{
		'tawk-header': Header
	}
}
</script>

<style lang="scss" scoped>
	@import 'scss/main.scss';
</style>
